@import '~bootstrap/scss/bootstrap.scss';
@import '1-fonts.scss';
@import '2-colors.scss';

* {
  color: $main-black;
}

body {
  background-color: $main-black;
}

h1 {
  color: $main-pink;
  font-weight: $bold;
}

img.logo {
  height: 50px;
}

.main-content {
  background-color: $gainsboro;
  height: 89.5vh;
  padding: 0 3rem;
}

i.favorite {
  font-size: 2rem;
  color: orange;
  cursor: pointer;
}

.media h1 {
  text-align: center;
}
.media p {
  color: $main-light;
  font-size: 1.3rem;
  text-align: center;
}

.divider {
  border: 2px solid $main-pink;
  margin: 2rem 0;
}

.details * {
  color: $main-pink;
  font-size: 1.3rem;
  text-align: center;
}
.favorites-wrapper {
  padding-right: 5rem;
}
